[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "phylotate"]
	path = phylotate
	url = https://github.com/cran/phylotate
	shallow = true
	registered = true
